---
// src/snippets/CarouselArrowButton.astro

const {
  direction = "next",
  class: clase = "",
  ariaLabel,
} = Astro.props;

const isPrev = direction === "prev";
const label = ariaLabel || (isPrev ? "Ir al elemento anterior" : "Ir al siguiente elemento");
---

<button
  type="button"
  class={clase}
  aria-label={label}
  {...(isPrev ? { "data-carousel-prev": true } : { "data-carousel-next": true })}
>
  {isPrev ? (
    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="11" viewBox="0 0 6 11" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.70711 0.29513C6.09763 0.688636 6.09763 1.32664 5.70711 1.72014L2.41421 5.03818L5.70711 8.35621C6.09763 8.74972 6.09763 9.38772 5.70711 9.78123C5.31658 10.1747 4.68342 10.1747 4.29289 9.78123L0.292893 5.75068C-0.0976311 5.35718 -0.0976311 4.71918 0.292893 4.32567L4.29289 0.29513C4.68342 -0.0983765 5.31658 -0.0983766 5.70711 0.29513Z" fill="#EF6A02"/>
    </svg>
  ) : (
    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="11" viewBox="0 0 6 11" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292894 9.78123C-0.0976307 9.38772 -0.0976307 8.74972 0.292894 8.35621L3.58579 5.03818L0.292893 1.72014C-0.0976311 1.32664 -0.0976311 0.688636 0.292893 0.29513C0.683417 -0.0983767 1.31658 -0.0983767 1.70711 0.29513L5.70711 4.32567C6.09763 4.71918 6.09763 5.35718 5.70711 5.75068L1.70711 9.78123C1.31658 10.1747 0.683418 10.1747 0.292894 9.78123Z" fill="#EF6A02"/>
    </svg>
  )}
</button>