---
import BaseLayout from "../layouts/BaseLayout.astro";
import TextGroupElement from "../snippets/TextGroupElement.astro";
import ImagenResponsive from "../snippets/ImagenResponsive.astro";
import ListElement from "../snippets/ListElement.astro";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BannerHero from "../components/BannerHero.astro";
import FeatureBlocksSection from "../components/FeatureBlocksSection.astro";
import ImageCardsOverlay from "../components/ImageCardsOverlay.astro";
import ImageCarouselSection from "../components/ImageCarouselSection.astro";
import VideoOverlay from "../components/VideoOverlay.astro";
import ComparisonBannerSection from "../components/ComparisonBannerSection.astro";
import BrandCardsSection from "../components/BrandCardsSection.astro";
import ImageLogoTextBanner from "../components/ImageLogoTextBanner.astro";
import VideoHero from "../components/VideoHero.astro";
import ReviewsCarouselSection  from "../components/ReviewsCarouselSection.astro";
import FormularioLead from "../componentsFormPoliticas/FormularioLead.astro";
import NewsletterForm from "../componentsFormPoliticas/NewsletterForm.astro";


import Formulario from "../components/Formulario.astro";
import { site } from "../data/site";
---

<BaseLayout>
    <Header />

    <main class="container">

    <BannerHero
        id="supply"
        class="imagen-derecha-texto-izquierda imagen-txt-izq-der"

        srcDesktop="../public/media/banner19-desktop.webp?width=700"
        srcMobile="../public/media/banner19-desktop.webp?width=700"
        alt="supply"
        width="566"
        height="371"
        loading="lazy"
        decoding="async"

        h1=`Supply Chain & <span>Logística</span>`

        h3=`¿Tienes retrasos y falta de control en tu cadena de suministro?`

        p="En Fram Foods integramos procesos logísticos eficientes que garantizan control, trazabilidad y cumplimiento en cada etapa desde origen hasta destino."
    />

    <section id="mensaje-mini-banner" class="mini-txt-h2">
        <TextGroupElement
            h2="Una eficiente cadena de suministro y logística permite crecer tu negocio y hacerlo competitivo"
        />
    </section>

    <section id="como-te-ayudamos-1" class="banner texto-lista como-te-ayudamos-izq">
            <ImagenResponsive
                srcDesktop="../public/media/banner22-desktop.webp?width=2500"
                srcMobile="../public/media/banner22-desktop.webp?width=1500"
                alt="FramFoods"
                title="FramFoods"
                width="1920"
                height="408"
                loading="lazy"
                decoding="async"
            />
            <figure>
                <div class="izq">
                    <TextGroupElement
                        h2="Más que logística; infraestructura diseñada con control, eficiencia y consistencia."
                        
                        linkHtml="Optimiza tu operación logística"
                        linkHref="/desarrollo-de-productos"
                        linkClass="hero-button"
                    />
                </div>
                <div class="der">
                    <h2>
                        ¿Cómo te ayudamos?
                    </h2>
                    <ListElement
                    as="ul"
                    class="mi-lista"
                    itemClass="mi-item"
                    items={[
                        {
                        html: `
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.53403 2.90991C9.82016 2.80728 11.0411 2.30153 12.0232 1.46467C14.3148 -0.488224 17.6852 -0.488224 19.9768 1.46467C20.9589 2.30153 22.1798 2.80728 23.466 2.90991C26.4673 3.14942 28.8506 5.53271 29.0901 8.53403C29.1927 9.82016 29.6985 11.0411 30.5353 12.0232C32.4882 14.3148 32.4882 17.6852 30.5353 19.9768C29.6985 20.9589 29.1927 22.1798 29.0901 23.466C28.8506 26.4673 26.4673 28.8506 23.466 29.0901C22.1798 29.1927 20.9589 29.6985 19.9768 30.5353C17.6852 32.4882 14.3148 32.4882 12.0232 30.5353C11.0411 29.6985 9.82016 29.1927 8.53403 29.0901C5.53271 28.8506 3.14942 26.4673 2.90991 23.466C2.80728 22.1798 2.30153 20.9589 1.46467 19.9768C-0.488224 17.6852 -0.488224 14.3148 1.46467 12.0232C2.30153 11.0411 2.80728 9.82016 2.90991 8.53403C3.14942 5.53271 5.53271 3.14942 8.53403 2.90991ZM23.4142 13.4142C24.1953 12.6332 24.1953 11.3668 23.4142 10.5858C22.6332 9.80474 21.3668 9.80474 20.5858 10.5858L14 17.1716L11.4142 14.5858C10.6332 13.8047 9.36683 13.8047 8.58579 14.5858C7.80474 15.3668 7.80474 16.6332 8.58579 17.4142L12.5858 21.4142C13.3668 22.1953 14.6332 22.1953 15.4142 21.4142L23.4142 13.4142Z" fill="#25D366"/>
                            </svg>
                            <span>Importación y gestión aduanal</span>
                        `
                        },
                        {
                        html: `
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.53403 2.90991C9.82016 2.80728 11.0411 2.30153 12.0232 1.46467C14.3148 -0.488224 17.6852 -0.488224 19.9768 1.46467C20.9589 2.30153 22.1798 2.80728 23.466 2.90991C26.4673 3.14942 28.8506 5.53271 29.0901 8.53403C29.1927 9.82016 29.6985 11.0411 30.5353 12.0232C32.4882 14.3148 32.4882 17.6852 30.5353 19.9768C29.6985 20.9589 29.1927 22.1798 29.0901 23.466C28.8506 26.4673 26.4673 28.8506 23.466 29.0901C22.1798 29.1927 20.9589 29.6985 19.9768 30.5353C17.6852 32.4882 14.3148 32.4882 12.0232 30.5353C11.0411 29.6985 9.82016 29.1927 8.53403 29.0901C5.53271 28.8506 3.14942 26.4673 2.90991 23.466C2.80728 22.1798 2.30153 20.9589 1.46467 19.9768C-0.488224 17.6852 -0.488224 14.3148 1.46467 12.0232C2.30153 11.0411 2.80728 9.82016 2.90991 8.53403C3.14942 5.53271 5.53271 3.14942 8.53403 2.90991ZM23.4142 13.4142C24.1953 12.6332 24.1953 11.3668 23.4142 10.5858C22.6332 9.80474 21.3668 9.80474 20.5858 10.5858L14 17.1716L11.4142 14.5858C10.6332 13.8047 9.36683 13.8047 8.58579 14.5858C7.80474 15.3668 7.80474 16.6332 8.58579 17.4142L12.5858 21.4142C13.3668 22.1953 14.6332 22.1953 15.4142 21.4142L23.4142 13.4142Z" fill="#25D366"/>
                            </svg>
                            <span>Almacenamiento especializado</span>
                        `
                        },
                        {
                        html: `
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.53403 2.90991C9.82016 2.80728 11.0411 2.30153 12.0232 1.46467C14.3148 -0.488224 17.6852 -0.488224 19.9768 1.46467C20.9589 2.30153 22.1798 2.80728 23.466 2.90991C26.4673 3.14942 28.8506 5.53271 29.0901 8.53403C29.1927 9.82016 29.6985 11.0411 30.5353 12.0232C32.4882 14.3148 32.4882 17.6852 30.5353 19.9768C29.6985 20.9589 29.1927 22.1798 29.0901 23.466C28.8506 26.4673 26.4673 28.8506 23.466 29.0901C22.1798 29.1927 20.9589 29.6985 19.9768 30.5353C17.6852 32.4882 14.3148 32.4882 12.0232 30.5353C11.0411 29.6985 9.82016 29.1927 8.53403 29.0901C5.53271 28.8506 3.14942 26.4673 2.90991 23.466C2.80728 22.1798 2.30153 20.9589 1.46467 19.9768C-0.488224 17.6852 -0.488224 14.3148 1.46467 12.0232C2.30153 11.0411 2.80728 9.82016 2.90991 8.53403C3.14942 5.53271 5.53271 3.14942 8.53403 2.90991ZM23.4142 13.4142C24.1953 12.6332 24.1953 11.3668 23.4142 10.5858C22.6332 9.80474 21.3668 9.80474 20.5858 10.5858L14 17.1716L11.4142 14.5858C10.6332 13.8047 9.36683 13.8047 8.58579 14.5858C7.80474 15.3668 7.80474 16.6332 8.58579 17.4142L12.5858 21.4142C13.3668 22.1953 14.6332 22.1953 15.4142 21.4142L23.4142 13.4142Z" fill="#25D366"/>
                            </svg>
                            <span>Control de inventarios</span>
                        `
                        },
                        {
                        html: `
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.53403 2.90991C9.82016 2.80728 11.0411 2.30153 12.0232 1.46467C14.3148 -0.488224 17.6852 -0.488224 19.9768 1.46467C20.9589 2.30153 22.1798 2.80728 23.466 2.90991C26.4673 3.14942 28.8506 5.53271 29.0901 8.53403C29.1927 9.82016 29.6985 11.0411 30.5353 12.0232C32.4882 14.3148 32.4882 17.6852 30.5353 19.9768C29.6985 20.9589 29.1927 22.1798 29.0901 23.466C28.8506 26.4673 26.4673 28.8506 23.466 29.0901C22.1798 29.1927 20.9589 29.6985 19.9768 30.5353C17.6852 32.4882 14.3148 32.4882 12.0232 30.5353C11.0411 29.6985 9.82016 29.1927 8.53403 29.0901C5.53271 28.8506 3.14942 26.4673 2.90991 23.466C2.80728 22.1798 2.30153 20.9589 1.46467 19.9768C-0.488224 17.6852 -0.488224 14.3148 1.46467 12.0232C2.30153 11.0411 2.80728 9.82016 2.90991 8.53403C3.14942 5.53271 5.53271 3.14942 8.53403 2.90991ZM23.4142 13.4142C24.1953 12.6332 24.1953 11.3668 23.4142 10.5858C22.6332 9.80474 21.3668 9.80474 20.5858 10.5858L14 17.1716L11.4142 14.5858C10.6332 13.8047 9.36683 13.8047 8.58579 14.5858C7.80474 15.3668 7.80474 16.6332 8.58579 17.4142L12.5858 21.4142C13.3668 22.1953 14.6332 22.1953 15.4142 21.4142L23.4142 13.4142Z" fill="#25D366"/>
                            </svg>
                            <span>Cadena de frío</span>
                        `
                        },
                        {
                        html: `
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.53403 2.90991C9.82016 2.80728 11.0411 2.30153 12.0232 1.46467C14.3148 -0.488224 17.6852 -0.488224 19.9768 1.46467C20.9589 2.30153 22.1798 2.80728 23.466 2.90991C26.4673 3.14942 28.8506 5.53271 29.0901 8.53403C29.1927 9.82016 29.6985 11.0411 30.5353 12.0232C32.4882 14.3148 32.4882 17.6852 30.5353 19.9768C29.6985 20.9589 29.1927 22.1798 29.0901 23.466C28.8506 26.4673 26.4673 28.8506 23.466 29.0901C22.1798 29.1927 20.9589 29.6985 19.9768 30.5353C17.6852 32.4882 14.3148 32.4882 12.0232 30.5353C11.0411 29.6985 9.82016 29.1927 8.53403 29.0901C5.53271 28.8506 3.14942 26.4673 2.90991 23.466C2.80728 22.1798 2.30153 20.9589 1.46467 19.9768C-0.488224 17.6852 -0.488224 14.3148 1.46467 12.0232C2.30153 11.0411 2.80728 9.82016 2.90991 8.53403C3.14942 5.53271 5.53271 3.14942 8.53403 2.90991ZM23.4142 13.4142C24.1953 12.6332 24.1953 11.3668 23.4142 10.5858C22.6332 9.80474 21.3668 9.80474 20.5858 10.5858L14 17.1716L11.4142 14.5858C10.6332 13.8047 9.36683 13.8047 8.58579 14.5858C7.80474 15.3668 7.80474 16.6332 8.58579 17.4142L12.5858 21.4142C13.3668 22.1953 14.6332 22.1953 15.4142 21.4142L23.4142 13.4142Z" fill="#25D366"/>
                            </svg>
                            <span>Optimización de rutas</span>
                        `
                        },
                        {
                        html: `
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.53403 2.90991C9.82016 2.80728 11.0411 2.30153 12.0232 1.46467C14.3148 -0.488224 17.6852 -0.488224 19.9768 1.46467C20.9589 2.30153 22.1798 2.80728 23.466 2.90991C26.4673 3.14942 28.8506 5.53271 29.0901 8.53403C29.1927 9.82016 29.6985 11.0411 30.5353 12.0232C32.4882 14.3148 32.4882 17.6852 30.5353 19.9768C29.6985 20.9589 29.1927 22.1798 29.0901 23.466C28.8506 26.4673 26.4673 28.8506 23.466 29.0901C22.1798 29.1927 20.9589 29.6985 19.9768 30.5353C17.6852 32.4882 14.3148 32.4882 12.0232 30.5353C11.0411 29.6985 9.82016 29.1927 8.53403 29.0901C5.53271 28.8506 3.14942 26.4673 2.90991 23.466C2.80728 22.1798 2.30153 20.9589 1.46467 19.9768C-0.488224 17.6852 -0.488224 14.3148 1.46467 12.0232C2.30153 11.0411 2.80728 9.82016 2.90991 8.53403C3.14942 5.53271 5.53271 3.14942 8.53403 2.90991ZM23.4142 13.4142C24.1953 12.6332 24.1953 11.3668 23.4142 10.5858C22.6332 9.80474 21.3668 9.80474 20.5858 10.5858L14 17.1716L11.4142 14.5858C10.6332 13.8047 9.36683 13.8047 8.58579 14.5858C7.80474 15.3668 7.80474 16.6332 8.58579 17.4142L12.5858 21.4142C13.3668 22.1953 14.6332 22.1953 15.4142 21.4142L23.4142 13.4142Z" fill="#25D366"/>
                            </svg>
                            <span>Gestión de pedidos</span>
                        `
                        },
                    ]}
                    />
                </div>

            </figure>
    </section>

    <BannerHero
        id="retail"
        class="imagen-derecha-texto-izquierda imagen-txt-izq-der"

        srcDesktop="../public/media/banner20-desktop.webp?width=700"
        srcMobile="../public/media/banner20-desktop.webp?width=700"
        alt="Retail"
        width="566"
        height="371"
        loading="lazy"
        decoding="async"

        h2=`Distribución & <span>Retail</span>`

        h3=`¿Tienes un producto en Retail que no vende cómo debería?`

        p="En Fram Foods analizamos el mercado y el punto de venta, diseñamos estrategias para generar crecimiento."
    />

    <section id="mensaje-mini-banner" class="mini-txt-h2">
        <TextGroupElement
            h2="Una buena estrategia y ejecución  en tienda convierten presencia en rotación y la rotación en crecimiento."
        />
    </section>

    <section id="como-te-ayudamos-2" class="banner texto-lista como-te-ayudamos-der">
            <ImagenResponsive
                srcDesktop="../public/media/banner23-desktop.webp?width=2500"
                srcMobile="../public/media/banner23-desktop.webp?width=1500"
                alt="FramFoods"
                title="FramFoods"
                width="1920"
                height="461"
                loading="lazy"
                decoding="async"
            />
            <figure>
                <div class="izq">
                    <TextGroupElement
                        h2="¿Cómo te ayudamos?"
                        
                        linkHtml="Llevar mi producto al retail"
                        linkHref="/desarrollo-de-productos"
                        linkClass="hero-button"
                    />
                </div>
                <div class="der">
                    <ListElement
                    as="ul"
                    class="mi-lista"
                    itemClass="mi-item"
                    items={[
                        {
                        html: `
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.53403 2.90991C9.82016 2.80728 11.0411 2.30153 12.0232 1.46467C14.3148 -0.488224 17.6852 -0.488224 19.9768 1.46467C20.9589 2.30153 22.1798 2.80728 23.466 2.90991C26.4673 3.14942 28.8506 5.53271 29.0901 8.53403C29.1927 9.82016 29.6985 11.0411 30.5353 12.0232C32.4882 14.3148 32.4882 17.6852 30.5353 19.9768C29.6985 20.9589 29.1927 22.1798 29.0901 23.466C28.8506 26.4673 26.4673 28.8506 23.466 29.0901C22.1798 29.1927 20.9589 29.6985 19.9768 30.5353C17.6852 32.4882 14.3148 32.4882 12.0232 30.5353C11.0411 29.6985 9.82016 29.1927 8.53403 29.0901C5.53271 28.8506 3.14942 26.4673 2.90991 23.466C2.80728 22.1798 2.30153 20.9589 1.46467 19.9768C-0.488224 17.6852 -0.488224 14.3148 1.46467 12.0232C2.30153 11.0411 2.80728 9.82016 2.90991 8.53403C3.14942 5.53271 5.53271 3.14942 8.53403 2.90991ZM23.4142 13.4142C24.1953 12.6332 24.1953 11.3668 23.4142 10.5858C22.6332 9.80474 21.3668 9.80474 20.5858 10.5858L14 17.1716L11.4142 14.5858C10.6332 13.8047 9.36683 13.8047 8.58579 14.5858C7.80474 15.3668 7.80474 16.6332 8.58579 17.4142L12.5858 21.4142C13.3668 22.1953 14.6332 22.1953 15.4142 21.4142L23.4142 13.4142Z" fill="#25D366"/>
                            </svg>
                            <span>Acceso a cadenas de retail</span>
                        `
                        },
                        {
                        html: `
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.53403 2.90991C9.82016 2.80728 11.0411 2.30153 12.0232 1.46467C14.3148 -0.488224 17.6852 -0.488224 19.9768 1.46467C20.9589 2.30153 22.1798 2.80728 23.466 2.90991C26.4673 3.14942 28.8506 5.53271 29.0901 8.53403C29.1927 9.82016 29.6985 11.0411 30.5353 12.0232C32.4882 14.3148 32.4882 17.6852 30.5353 19.9768C29.6985 20.9589 29.1927 22.1798 29.0901 23.466C28.8506 26.4673 26.4673 28.8506 23.466 29.0901C22.1798 29.1927 20.9589 29.6985 19.9768 30.5353C17.6852 32.4882 14.3148 32.4882 12.0232 30.5353C11.0411 29.6985 9.82016 29.1927 8.53403 29.0901C5.53271 28.8506 3.14942 26.4673 2.90991 23.466C2.80728 22.1798 2.30153 20.9589 1.46467 19.9768C-0.488224 17.6852 -0.488224 14.3148 1.46467 12.0232C2.30153 11.0411 2.80728 9.82016 2.90991 8.53403C3.14942 5.53271 5.53271 3.14942 8.53403 2.90991ZM23.4142 13.4142C24.1953 12.6332 24.1953 11.3668 23.4142 10.5858C22.6332 9.80474 21.3668 9.80474 20.5858 10.5858L14 17.1716L11.4142 14.5858C10.6332 13.8047 9.36683 13.8047 8.58579 14.5858C7.80474 15.3668 7.80474 16.6332 8.58579 17.4142L12.5858 21.4142C13.3668 22.1953 14.6332 22.1953 15.4142 21.4142L23.4142 13.4142Z" fill="#25D366"/>
                            </svg>
                            <span>Estrategias por canal</span>
                        `
                        },
                        {
                        html: `
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.53403 2.90991C9.82016 2.80728 11.0411 2.30153 12.0232 1.46467C14.3148 -0.488224 17.6852 -0.488224 19.9768 1.46467C20.9589 2.30153 22.1798 2.80728 23.466 2.90991C26.4673 3.14942 28.8506 5.53271 29.0901 8.53403C29.1927 9.82016 29.6985 11.0411 30.5353 12.0232C32.4882 14.3148 32.4882 17.6852 30.5353 19.9768C29.6985 20.9589 29.1927 22.1798 29.0901 23.466C28.8506 26.4673 26.4673 28.8506 23.466 29.0901C22.1798 29.1927 20.9589 29.6985 19.9768 30.5353C17.6852 32.4882 14.3148 32.4882 12.0232 30.5353C11.0411 29.6985 9.82016 29.1927 8.53403 29.0901C5.53271 28.8506 3.14942 26.4673 2.90991 23.466C2.80728 22.1798 2.30153 20.9589 1.46467 19.9768C-0.488224 17.6852 -0.488224 14.3148 1.46467 12.0232C2.30153 11.0411 2.80728 9.82016 2.90991 8.53403C3.14942 5.53271 5.53271 3.14942 8.53403 2.90991ZM23.4142 13.4142C24.1953 12.6332 24.1953 11.3668 23.4142 10.5858C22.6332 9.80474 21.3668 9.80474 20.5858 10.5858L14 17.1716L11.4142 14.5858C10.6332 13.8047 9.36683 13.8047 8.58579 14.5858C7.80474 15.3668 7.80474 16.6332 8.58579 17.4142L12.5858 21.4142C13.3668 22.1953 14.6332 22.1953 15.4142 21.4142L23.4142 13.4142Z" fill="#25D366"/>
                            </svg>
                            <span>Ejecución en punto de venta (Perfect Store)</span>
                        `
                        },
                        {
                        html: `
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.53403 2.90991C9.82016 2.80728 11.0411 2.30153 12.0232 1.46467C14.3148 -0.488224 17.6852 -0.488224 19.9768 1.46467C20.9589 2.30153 22.1798 2.80728 23.466 2.90991C26.4673 3.14942 28.8506 5.53271 29.0901 8.53403C29.1927 9.82016 29.6985 11.0411 30.5353 12.0232C32.4882 14.3148 32.4882 17.6852 30.5353 19.9768C29.6985 20.9589 29.1927 22.1798 29.0901 23.466C28.8506 26.4673 26.4673 28.8506 23.466 29.0901C22.1798 29.1927 20.9589 29.6985 19.9768 30.5353C17.6852 32.4882 14.3148 32.4882 12.0232 30.5353C11.0411 29.6985 9.82016 29.1927 8.53403 29.0901C5.53271 28.8506 3.14942 26.4673 2.90991 23.466C2.80728 22.1798 2.30153 20.9589 1.46467 19.9768C-0.488224 17.6852 -0.488224 14.3148 1.46467 12.0232C2.30153 11.0411 2.80728 9.82016 2.90991 8.53403C3.14942 5.53271 5.53271 3.14942 8.53403 2.90991ZM23.4142 13.4142C24.1953 12.6332 24.1953 11.3668 23.4142 10.5858C22.6332 9.80474 21.3668 9.80474 20.5858 10.5858L14 17.1716L11.4142 14.5858C10.6332 13.8047 9.36683 13.8047 8.58579 14.5858C7.80474 15.3668 7.80474 16.6332 8.58579 17.4142L12.5858 21.4142C13.3668 22.1953 14.6332 22.1953 15.4142 21.4142L23.4142 13.4142Z" fill="#25D366"/>
                            </svg>
                            <span>Trade marketing</span>
                        `
                        },
                        {
                        html: `
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.53403 2.90991C9.82016 2.80728 11.0411 2.30153 12.0232 1.46467C14.3148 -0.488224 17.6852 -0.488224 19.9768 1.46467C20.9589 2.30153 22.1798 2.80728 23.466 2.90991C26.4673 3.14942 28.8506 5.53271 29.0901 8.53403C29.1927 9.82016 29.6985 11.0411 30.5353 12.0232C32.4882 14.3148 32.4882 17.6852 30.5353 19.9768C29.6985 20.9589 29.1927 22.1798 29.0901 23.466C28.8506 26.4673 26.4673 28.8506 23.466 29.0901C22.1798 29.1927 20.9589 29.6985 19.9768 30.5353C17.6852 32.4882 14.3148 32.4882 12.0232 30.5353C11.0411 29.6985 9.82016 29.1927 8.53403 29.0901C5.53271 28.8506 3.14942 26.4673 2.90991 23.466C2.80728 22.1798 2.30153 20.9589 1.46467 19.9768C-0.488224 17.6852 -0.488224 14.3148 1.46467 12.0232C2.30153 11.0411 2.80728 9.82016 2.90991 8.53403C3.14942 5.53271 5.53271 3.14942 8.53403 2.90991ZM23.4142 13.4142C24.1953 12.6332 24.1953 11.3668 23.4142 10.5858C22.6332 9.80474 21.3668 9.80474 20.5858 10.5858L14 17.1716L11.4142 14.5858C10.6332 13.8047 9.36683 13.8047 8.58579 14.5858C7.80474 15.3668 7.80474 16.6332 8.58579 17.4142L12.5858 21.4142C13.3668 22.1953 14.6332 22.1953 15.4142 21.4142L23.4142 13.4142Z" fill="#25D366"/>
                            </svg>
                            <span>Gestión de cuentas clave</span>
                        `
                        },
                        {
                        html: `
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.53403 2.90991C9.82016 2.80728 11.0411 2.30153 12.0232 1.46467C14.3148 -0.488224 17.6852 -0.488224 19.9768 1.46467C20.9589 2.30153 22.1798 2.80728 23.466 2.90991C26.4673 3.14942 28.8506 5.53271 29.0901 8.53403C29.1927 9.82016 29.6985 11.0411 30.5353 12.0232C32.4882 14.3148 32.4882 17.6852 30.5353 19.9768C29.6985 20.9589 29.1927 22.1798 29.0901 23.466C28.8506 26.4673 26.4673 28.8506 23.466 29.0901C22.1798 29.1927 20.9589 29.6985 19.9768 30.5353C17.6852 32.4882 14.3148 32.4882 12.0232 30.5353C11.0411 29.6985 9.82016 29.1927 8.53403 29.0901C5.53271 28.8506 3.14942 26.4673 2.90991 23.466C2.80728 22.1798 2.30153 20.9589 1.46467 19.9768C-0.488224 17.6852 -0.488224 14.3148 1.46467 12.0232C2.30153 11.0411 2.80728 9.82016 2.90991 8.53403C3.14942 5.53271 5.53271 3.14942 8.53403 2.90991ZM23.4142 13.4142C24.1953 12.6332 24.1953 11.3668 23.4142 10.5858C22.6332 9.80474 21.3668 9.80474 20.5858 10.5858L14 17.1716L11.4142 14.5858C10.6332 13.8047 9.36683 13.8047 8.58579 14.5858C7.80474 15.3668 7.80474 16.6332 8.58579 17.4142L12.5858 21.4142C13.3668 22.1953 14.6332 22.1953 15.4142 21.4142L23.4142 13.4142Z" fill="#25D366"/>
                            </svg>
                            <span>Optimización de portafolio</span>
                        `
                        },
                    ]}
                    />
                </div>

            </figure>
    </section>

    <BannerHero
        id="inteligencia-mercado"
        class="imagen-derecha-texto-izquierda imagen-txt-izq-der"

        srcDesktop="../public/media/banner21-desktop.webp?width=700"
        srcMobile="../public/media/banner21-desktop.webp?width=700"
        alt="Inteligencia de mercado"
        width="566"
        height="371"
        loading="lazy"
        decoding="async"

        h2=`Inteligencia <span>de mercado</span>`

        h3=`¿Conoces a tu consumidor y el comportamiento del mercado?`

        p="En Fram foods analizamos el mercado, el consumidor y las tendencias para identificar oportunidades reales de crecimiento."
    />

    <section id="mensaje-mini-banner" class="mini-txt-h2">
        <TextGroupElement
            h2="Conocer los insights del mercado generan estrategias que definen posicionamiento, portafolio y crecimiento."
        />
    </section>

    <section id="como-te-ayudamos-3" class="banner texto-lista como-te-ayudamos-der">
            <ImagenResponsive
                srcDesktop="../public/media/banner24-desktop.webp?width=2500"
                srcMobile="../public/media/banner24-desktop.webp?width=1500"
                alt="FramFoods"
                title="FramFoods"
                width="1920"
                height="461"
                loading="lazy"
                decoding="async"
            />
            <figure>
                <div class="izq">
                    <TextGroupElement
                        h2="¿Cómo te ayudamos?"
                        
                        linkHtml="Solicitar propuesta / Evaluar Crecimiento"
                        linkHref="/contacto"
                        linkClass="hero-button"
                    />
                </div>
                <div class="der">
                    <ListElement
                    as="ul"
                    class="mi-lista"
                    itemClass="mi-item"
                    items={[
                        {
                        html: `
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.53403 2.90991C9.82016 2.80728 11.0411 2.30153 12.0232 1.46467C14.3148 -0.488224 17.6852 -0.488224 19.9768 1.46467C20.9589 2.30153 22.1798 2.80728 23.466 2.90991C26.4673 3.14942 28.8506 5.53271 29.0901 8.53403C29.1927 9.82016 29.6985 11.0411 30.5353 12.0232C32.4882 14.3148 32.4882 17.6852 30.5353 19.9768C29.6985 20.9589 29.1927 22.1798 29.0901 23.466C28.8506 26.4673 26.4673 28.8506 23.466 29.0901C22.1798 29.1927 20.9589 29.6985 19.9768 30.5353C17.6852 32.4882 14.3148 32.4882 12.0232 30.5353C11.0411 29.6985 9.82016 29.1927 8.53403 29.0901C5.53271 28.8506 3.14942 26.4673 2.90991 23.466C2.80728 22.1798 2.30153 20.9589 1.46467 19.9768C-0.488224 17.6852 -0.488224 14.3148 1.46467 12.0232C2.30153 11.0411 2.80728 9.82016 2.90991 8.53403C3.14942 5.53271 5.53271 3.14942 8.53403 2.90991ZM23.4142 13.4142C24.1953 12.6332 24.1953 11.3668 23.4142 10.5858C22.6332 9.80474 21.3668 9.80474 20.5858 10.5858L14 17.1716L11.4142 14.5858C10.6332 13.8047 9.36683 13.8047 8.58579 14.5858C7.80474 15.3668 7.80474 16.6332 8.58579 17.4142L12.5858 21.4142C13.3668 22.1953 14.6332 22.1953 15.4142 21.4142L23.4142 13.4142Z" fill="#25D366"/>
                            </svg>
                            <span>Análisis de tendencias</span>
                        `
                        },
                        {
                        html: `
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.53403 2.90991C9.82016 2.80728 11.0411 2.30153 12.0232 1.46467C14.3148 -0.488224 17.6852 -0.488224 19.9768 1.46467C20.9589 2.30153 22.1798 2.80728 23.466 2.90991C26.4673 3.14942 28.8506 5.53271 29.0901 8.53403C29.1927 9.82016 29.6985 11.0411 30.5353 12.0232C32.4882 14.3148 32.4882 17.6852 30.5353 19.9768C29.6985 20.9589 29.1927 22.1798 29.0901 23.466C28.8506 26.4673 26.4673 28.8506 23.466 29.0901C22.1798 29.1927 20.9589 29.6985 19.9768 30.5353C17.6852 32.4882 14.3148 32.4882 12.0232 30.5353C11.0411 29.6985 9.82016 29.1927 8.53403 29.0901C5.53271 28.8506 3.14942 26.4673 2.90991 23.466C2.80728 22.1798 2.30153 20.9589 1.46467 19.9768C-0.488224 17.6852 -0.488224 14.3148 1.46467 12.0232C2.30153 11.0411 2.80728 9.82016 2.90991 8.53403C3.14942 5.53271 5.53271 3.14942 8.53403 2.90991ZM23.4142 13.4142C24.1953 12.6332 24.1953 11.3668 23.4142 10.5858C22.6332 9.80474 21.3668 9.80474 20.5858 10.5858L14 17.1716L11.4142 14.5858C10.6332 13.8047 9.36683 13.8047 8.58579 14.5858C7.80474 15.3668 7.80474 16.6332 8.58579 17.4142L12.5858 21.4142C13.3668 22.1953 14.6332 22.1953 15.4142 21.4142L23.4142 13.4142Z" fill="#25D366"/>
                            </svg>
                            <span>Insights de consumidor</span>
                        `
                        },
                        {
                        html: `
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.53403 2.90991C9.82016 2.80728 11.0411 2.30153 12.0232 1.46467C14.3148 -0.488224 17.6852 -0.488224 19.9768 1.46467C20.9589 2.30153 22.1798 2.80728 23.466 2.90991C26.4673 3.14942 28.8506 5.53271 29.0901 8.53403C29.1927 9.82016 29.6985 11.0411 30.5353 12.0232C32.4882 14.3148 32.4882 17.6852 30.5353 19.9768C29.6985 20.9589 29.1927 22.1798 29.0901 23.466C28.8506 26.4673 26.4673 28.8506 23.466 29.0901C22.1798 29.1927 20.9589 29.6985 19.9768 30.5353C17.6852 32.4882 14.3148 32.4882 12.0232 30.5353C11.0411 29.6985 9.82016 29.1927 8.53403 29.0901C5.53271 28.8506 3.14942 26.4673 2.90991 23.466C2.80728 22.1798 2.30153 20.9589 1.46467 19.9768C-0.488224 17.6852 -0.488224 14.3148 1.46467 12.0232C2.30153 11.0411 2.80728 9.82016 2.90991 8.53403C3.14942 5.53271 5.53271 3.14942 8.53403 2.90991ZM23.4142 13.4142C24.1953 12.6332 24.1953 11.3668 23.4142 10.5858C22.6332 9.80474 21.3668 9.80474 20.5858 10.5858L14 17.1716L11.4142 14.5858C10.6332 13.8047 9.36683 13.8047 8.58579 14.5858C7.80474 15.3668 7.80474 16.6332 8.58579 17.4142L12.5858 21.4142C13.3668 22.1953 14.6332 22.1953 15.4142 21.4142L23.4142 13.4142Z" fill="#25D366"/>
                            </svg>
                            <span>Evaluación de categorías</span>
                        `
                        },
                        {
                        html: `
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.53403 2.90991C9.82016 2.80728 11.0411 2.30153 12.0232 1.46467C14.3148 -0.488224 17.6852 -0.488224 19.9768 1.46467C20.9589 2.30153 22.1798 2.80728 23.466 2.90991C26.4673 3.14942 28.8506 5.53271 29.0901 8.53403C29.1927 9.82016 29.6985 11.0411 30.5353 12.0232C32.4882 14.3148 32.4882 17.6852 30.5353 19.9768C29.6985 20.9589 29.1927 22.1798 29.0901 23.466C28.8506 26.4673 26.4673 28.8506 23.466 29.0901C22.1798 29.1927 20.9589 29.6985 19.9768 30.5353C17.6852 32.4882 14.3148 32.4882 12.0232 30.5353C11.0411 29.6985 9.82016 29.1927 8.53403 29.0901C5.53271 28.8506 3.14942 26.4673 2.90991 23.466C2.80728 22.1798 2.30153 20.9589 1.46467 19.9768C-0.488224 17.6852 -0.488224 14.3148 1.46467 12.0232C2.30153 11.0411 2.80728 9.82016 2.90991 8.53403C3.14942 5.53271 5.53271 3.14942 8.53403 2.90991ZM23.4142 13.4142C24.1953 12.6332 24.1953 11.3668 23.4142 10.5858C22.6332 9.80474 21.3668 9.80474 20.5858 10.5858L14 17.1716L11.4142 14.5858C10.6332 13.8047 9.36683 13.8047 8.58579 14.5858C7.80474 15.3668 7.80474 16.6332 8.58579 17.4142L12.5858 21.4142C13.3668 22.1953 14.6332 22.1953 15.4142 21.4142L23.4142 13.4142Z" fill="#25D366"/>
                            </svg>
                            <span>Identificación de oportunidades</span>
                        `
                        },
                        {
                        html: `
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.53403 2.90991C9.82016 2.80728 11.0411 2.30153 12.0232 1.46467C14.3148 -0.488224 17.6852 -0.488224 19.9768 1.46467C20.9589 2.30153 22.1798 2.80728 23.466 2.90991C26.4673 3.14942 28.8506 5.53271 29.0901 8.53403C29.1927 9.82016 29.6985 11.0411 30.5353 12.0232C32.4882 14.3148 32.4882 17.6852 30.5353 19.9768C29.6985 20.9589 29.1927 22.1798 29.0901 23.466C28.8506 26.4673 26.4673 28.8506 23.466 29.0901C22.1798 29.1927 20.9589 29.6985 19.9768 30.5353C17.6852 32.4882 14.3148 32.4882 12.0232 30.5353C11.0411 29.6985 9.82016 29.1927 8.53403 29.0901C5.53271 28.8506 3.14942 26.4673 2.90991 23.466C2.80728 22.1798 2.30153 20.9589 1.46467 19.9768C-0.488224 17.6852 -0.488224 14.3148 1.46467 12.0232C2.30153 11.0411 2.80728 9.82016 2.90991 8.53403C3.14942 5.53271 5.53271 3.14942 8.53403 2.90991ZM23.4142 13.4142C24.1953 12.6332 24.1953 11.3668 23.4142 10.5858C22.6332 9.80474 21.3668 9.80474 20.5858 10.5858L14 17.1716L11.4142 14.5858C10.6332 13.8047 9.36683 13.8047 8.58579 14.5858C7.80474 15.3668 7.80474 16.6332 8.58579 17.4142L12.5858 21.4142C13.3668 22.1953 14.6332 22.1953 15.4142 21.4142L23.4142 13.4142Z" fill="#25D366"/>
                            </svg>
                            <span>Estrategia de portafolio</span>
                        `
                        },
                        {
                        html: `
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.53403 2.90991C9.82016 2.80728 11.0411 2.30153 12.0232 1.46467C14.3148 -0.488224 17.6852 -0.488224 19.9768 1.46467C20.9589 2.30153 22.1798 2.80728 23.466 2.90991C26.4673 3.14942 28.8506 5.53271 29.0901 8.53403C29.1927 9.82016 29.6985 11.0411 30.5353 12.0232C32.4882 14.3148 32.4882 17.6852 30.5353 19.9768C29.6985 20.9589 29.1927 22.1798 29.0901 23.466C28.8506 26.4673 26.4673 28.8506 23.466 29.0901C22.1798 29.1927 20.9589 29.6985 19.9768 30.5353C17.6852 32.4882 14.3148 32.4882 12.0232 30.5353C11.0411 29.6985 9.82016 29.1927 8.53403 29.0901C5.53271 28.8506 3.14942 26.4673 2.90991 23.466C2.80728 22.1798 2.30153 20.9589 1.46467 19.9768C-0.488224 17.6852 -0.488224 14.3148 1.46467 12.0232C2.30153 11.0411 2.80728 9.82016 2.90991 8.53403C3.14942 5.53271 5.53271 3.14942 8.53403 2.90991ZM23.4142 13.4142C24.1953 12.6332 24.1953 11.3668 23.4142 10.5858C22.6332 9.80474 21.3668 9.80474 20.5858 10.5858L14 17.1716L11.4142 14.5858C10.6332 13.8047 9.36683 13.8047 8.58579 14.5858C7.80474 15.3668 7.80474 16.6332 8.58579 17.4142L12.5858 21.4142C13.3668 22.1953 14.6332 22.1953 15.4142 21.4142L23.4142 13.4142Z" fill="#25D366"/>
                            </svg>
                            <span>Data para toma de decisiones</span>
                        `
                        },
                    ]}
                    />
                </div>

            </figure>
    </section>

        <section id="franja-comercial" class="franja-comercial">
        <TextGroupElement
            p="Trabajamos de forma integrada para transformar ideas en soluciones comerciales 
            <span>sólidas,</span>
            <span>alineadas al mercado,</span>
            <span>al canal y</span>
            <span>al consumidor.</span>"
            pId=""
            pClass="franja-comercial__text"
        />
        </section>

    <NewsletterForm
        id="newsletter-principal"
        class="newsletter-form banner"

        figureClass="newsletter-form__figure"
        captionClass="newsletter-form__caption"

        contentId=""
        contentClass="newsletter-form__content"

        srcDesktop="../public/media/newsletter.webp?width=2500"
        srcMobile="../public/media/newsletter.webp?width=1500"
        alt="Newsletter"
        title="Newsletter"
        width="1920"
        height="250"
        loading="lazy"
        decoding="async"

        h2="Suscríbete a nuestro newsletter"
        h2Id=""
        h2Class="newsletter-form__title"

        p="Recibe actualizaciones, novedades y contenido relevante directamente en tu correo.
        <br>
        Forma parte de nuestra comunidad y entérate primero de lo que viene."
        pId=""
        pClass="newsletter-form__text"

        action="/api/newsletter"
        method="POST"

        successParam="newsletter"
        successValue="ok"
        successMessage="Gracias por suscribirte al newsletter."

        inputWrapperClass="newsletter-form__field"
        inputId="newsletter-email"
        inputClass="newsletter-form__input"
        inputName="email"
        inputDataColumn="Correo electrónico"
        inputPlaceholder="tu correo"
        inputLabel=""
        inputRequired={true}

        buttonClass="newsletter-form__button"
        buttonHtml="Suscribirme al newsletter"
    />

    </main>

    <Footer />
</BaseLayout>
